<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Our Background</h2>
                <hr class="light">
                <p class="text-faded">Our team is formed with talents from Video Game industry (Mobile and PC, VR Game and Application development), and Real-time Cinematic Production and Virtual Production. 
                    Our team skillset is ranging from 3D/realtime content creation and implementation, to scene performance and pipeline optimization etc.</p>
                <!-- <a href="#" class="btn btn-default btn-xl">Get Started!</a> -->
            </div>
        </div>
    </div>
</section>
