<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Our Service</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-paint-brush wow bounceIn text-primary"></i>
                    <h3>Technical Art Support</h3>
                    <p class="text-muted">We have great experience on tackling FX, shader and rendering issues.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-puzzle-piece wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Pipeline Tooling</h3>
                    <p class="text-muted">We can provide pipeline optimization consultancy for your production.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-gamepad wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Unreal Engine/Unity</h3>
                    <p class="text-muted">Our team has great experience and focus on Unreal Engine and Unity development.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-users wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Game Dev/VR/VP Focus</h3>
                    <p class="text-muted">A team from diverse backgroud - Game Dev, VR Dev, Realtime Virtual Production.</p>
                </div>
            </div>
        </div>
    </div>
</section>
